.asso{
    width: 600px;
    margin-left: 30px;
    position: relative;
    background-color: white;
    height: 100vh
  }
  
.asso-bg{
  background-color: #fff98f;
  margin: 0;
  height: 230px;
  width: 100%;
}

  .container-asso{
    margin: auto; 
    margin: 0px 80px;
    width: 440px
    
  }

.asso-top{
  padding-top: 25px;
}

.asso-secteur{
  
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

#asso-secteur{
  color: blue;
  font-size: 15px;
  text-decoration: underline
}

.asso-nom{
  margin: 0;
  
  padding-top: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 30px;
}


.asso-baseline{
  /* padding-top: 1px;
  margin: 0; */
  font-weight: 800;
  font-size: 1.1em;
}


  .asso-div-pitch{
    display: flex; 
    align-items: center;
    height: 60px;
    padding-bottom: 10px;
  }


  #asso-part2{
    position: absolute;
    top: 160px;
    font-family: Montserrat
  }

  .asso-logo{
    
  }

  #asso-logo{
    width: 100%; 
    height: 180px
  }

  .asso-pitch{
    line-height: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    max-height: 150px;
    overflow: scroll
  }

  .asso-pitch::-webkit-scrollbar {
    display: none;
  }

  .asso-equipe{

    margin-top: 20px;
    display: flex; 
    margin-bottom: 20px;
    
  }

  .asso-fondateur{
    display: flex; 
    flex-direction: column;
    margin-right: 110px;
    font-family: 'Montserrat', sans-serif;
    font-weight: initial;
  }

  .asso-associe{
    display: flex; 
    flex-direction: column;  
    font-family: 'Montserrat', sans-serif;
    font-weight: initial;
  }

  #asso-fondateur{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px 
  }
  #asso-fondateur{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px
  }

  #asso-space{
    margin-left: 20px;
  }

  #asso-contact{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px
  }

  .asso-contact-mail{
    margin-top:15px;
    display: flex;
    font-size: 14px;
  }

  .asso-mail{
    display: flex; 
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-weight: initial;
  }
  
  .asso-info-mail{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    
  }

  .typo3{
  }