.annnuaire{
    height: 100vh;
    overflow: scroll;
    width: 250px;
    margin-left: 30px;
    cursor: default;   
  }
  


  .letter-annuaire{
      margin: 0;
    font-family: Montserrat;
    font-weight: bold;
  
    margin-right: 173px;
    text-align: center; 
    vertical-align: middle;    
    font-size: 25px; 
    border-radius: 50%;
    height: 32px;
    width: 32px;
    }

  .annuaire-active{
      background-color: rgba(244, 235, 127, 1);
    
  }



  ul{
    margin: 0;
    margin-left: 5px;
    list-style: none;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 30px
  }

  li{
      display : inline;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 18px;
      margin: 0;
      margin-bottom: 5px;
      padding: 5px
      
      
    }
    
    .li-inter{
        margin: 0;
        margin-bottom: 5px
        
    }
    
    .asso-active{
        background-color: #fff98f;
        border-radius: 6px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
  }


  .example-enter {
    opacity: 0.01;
  }
  
  .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
    
  }
  
  .example-leave {
    opacity: 1;
  }
  
  .move-right{
    animation: moveright 0.5s  
  }

  .example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }

  @keyframes moveright{
    from{
      transform: translate3d(100%, 0, 0)
    }
    to {
      transform: translate3d(0, 0, 0)
    }
  }